extends layout

block content
  h1 Welcome to #{title}
  ol
  each val in comments
    li
      span= val.body 
      //- if val.completed > 0
      //-   span Completed
      //- else
      //-   span Not Completed
      //- form(method='POST' action='/delete')
      //-   input(type='hidden', name='id', value=val.id)
      //-   button(type='submit') Delete

  
  hr
  .button-group
    form(method='GET' action='/menu')
      label(for='menu') View Menu:
      button(type='submit')  Menu
    form(method='GET' action='/about')
      label(for='about') About Us:
      button(type='submit') About
    form(method='GET' action='/order')
      label(for='order') Place an Order:
      button(type='submit') Order

  
