doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      form(method='GET' action='/')
        img(src='/images/DarkBackgroundLogo.png', alt='Logo',
         class='logo')
    block content
