doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    // meta sees if it is a mobile device or desktop and adjusts accordingly
    
  body
    header
      a(href='/')
        img(src='/images/DarkBackgroundLogo.png', alt='Logo',
         class='logo')
    block content
