body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 15px;
  font: 14px "Montserrat", serif;
}

a {
  color: #00B7FF;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}
