body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 60px 15px 15px 15px;
  font: 14px "Montserrat", serif;
  background-color: #F7F7F7;
}

a {
  color: #00B7FF;
}

em {
  font-family: "Italiano Regular", "Times New Roman", serif;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
}

header {
  background-color: #10291D;
  position: fixed;
  top: 0;
  font-size: 32px;
  left: 0;
  text-align: center;
  width: 100vw;
  height: calc(11vmin * 0.802);
  min-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: #F7F7F7;
  font-weight: bold;
  border-bottom: 2px solid #F7C64A;
}

.logo {
  width: 15vmin;
  height: calc(11vmin * 0.802);
  min-height: 50px;
  min-width: 75px;
  padding-top: 5px;
  transition: width 0.3s ease, height 0.3s ease;
}

@media (max-width: 600px) {
  header {
    height: calc(23vmin * 0.85);
    min-height: 64px;
  }

  .logo {
    width: 28vmin;
    height: calc(23vmin * 0.802);
  }
}
